<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>soundDB</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/styles2.css">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="pege.html">ALL</a></li>
                <li><a href="#">document</a></li>
            </ul>
        </nav>
    </header>

    
    <main>
        <div class="cont">
            
        </div>
        


        <section class="recommendations">
            <h2>ALL</h2>
            <div class="songs">

                <div class="song_g">
                    <div class="song">
                        <a href="">
                            <img src="https://i1.sndcdn.com/artworks-rlxEACanzDwlQXjA-qcdydw-t500x500.jpg" alt="이미지 1">
                            
                        </a>
                    </div>
                    <div class="audio-player">
                        <p>Cloud (feat. VALHASH)</p>
                        <audio id="audio" controls>
                            <source src="../audio/Dulzula_VALHASH_.mp3" type="audio/mp3">
                        </audio>
                    </div>
                 </div>

                 <div class="song_g">
                    <div class="song">
                        <a href="">
                            <img src="https://i1.sndcdn.com/artworks-XA4N1Iicliyuzhrq-ypuEBw-t500x500.jpg" alt="이미지 1">
                            
                        </a>
                    </div>
                    <div class="audio-player">
                        <p>New Talent? (w / Fuggy, LASKAL)</p>
                        <audio id="audio" controls>
                            <source src="../audio/Dulzula_VALHASH_.mp3" type="audio/mp3">
                        </audio>
                    </div>
                 </div>

                 <div class="song_g">
                    <div class="song">
                        <a href="">
                            <img src="https://i1.sndcdn.com/artworks-FriJ0M8DAoYMJGea-zr7aWg-t500x500.jpg" alt="이미지 1">
                            
                        </a>
                    </div>
                    <div class="audio-player">
                        <p>얼음</p>
                        <audio id="audio" controls>
                            <source src="../audio/Dulzula_VALHASH_.mp3" type="audio/mp3">
                        </audio>
                    </div>
                 </div>



            </div>



        </section>
    </main>


    <script>
        // function toggleSidebar() {
        //     const sidebar = document.querySelector('.sidebar');
        //     sidebar.classList.toggle('closed');
        // }
    </script>
    
</body>
</html>
