<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>soundDB</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

    <!-- <div class="sidebar">
        <div class="sidebar-header">
            <button class="menu-toggle" onclick="toggleSidebar()">&#9776; 메뉴</button>
        </div>
        <ul class="sidebar-menu">
            <li><a href="#">홈</a></li>
            <li><a href="#">검색하기</a></li>
            <li><a href="#">작품</a></li>
            <li><a href="#">공지</a></li>
            <li><a href="#">라이브러리</a></li>
            <li><a href="#">기록</a></li>
            <li><a href="#">랜덤 작품 조회</a></li>
        </ul>
    </div> -->

    <header>
        <nav>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#">ALL</a></li>
                <li><a href="#">document</a></li>
            </ul>
        </nav>
    </header>

    
    <main>
        

        <section class="recommendations">
            <h2>Likes</h2>
            <div class="cards">
                <div class="card">
                <a href="">
                    <img src="https://i1.sndcdn.com/artworks-rlxEACanzDwlQXjA-qcdydw-t500x500.jpg" alt="이미지 1">
                    <p>Cloud (feat. VALHASH)</p>
                </a>
                </div>
                <div class="card">
                    <img src="../img/커버사진2.png" alt="이미지 1">
                    <p>ㄴ</p>
                </div>
                <div class="card">
                    <img src="../img/커버사진3.png" alt="이미지 1">
                    <p>제목</p>
                </div>
                <div class="card">
                    <img src="../img/커버사진4.png" alt="이미지 1">
                    <p>제목</p>
                </div>
                
            </div>
        </section>
    </main>


    <script>
        // function toggleSidebar() {
        //     const sidebar = document.querySelector('.sidebar');
        //     sidebar.classList.toggle('closed');
        // }
    </script>
    
</body>
</html>
